##############################
# PRIMER
##############################

# ----------------------------
# Primer API Key
# Must match the environment set with PRIMER_API_ENVIRONMENT 
# ----------------------------

API_KEY=1234-1234-1234-1234


# ----------------------------
# Primer environment: SANDBOX or PRODUCTION
# ----------------------------

PRIMER_API_ENVIRONMENT=SANDBOX
# PRIMER_API_ENVIRONMENT=PRODUCTION


##############################
# SERVER
##############################

API_VERSION=2.2

##############################
# SERVER
##############################

PORT=8880

# v1 = FALSE/ v0 = TRUE
LEGACY_WORKFLOW='false'
